body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  padding: 1rem;
  font-size: 4rem;
  background-color: #8b3636;
  color: white;
  border-radius: 5px;
}

.adresse {
  padding: 1rem;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1rem;
}

.subadresse {
  font-size: 1rem;
  padding: 1rem;
}

.news-section {
  padding: 1rem;
  margin-top: 1rem;
}

.news-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.news-card {
  background-color: rgb(235, 183, 94);
  padding: 1rem;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  gap: 16px;
  transition: all 0.3s ease;
}

.access-section {
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.8rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1rem;
}

.damage {
  background-color: #8b3636;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.damage:hover {
  background-color: rgb(242, 154, 13);
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.lcontract {
  background-color: #8b3636;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.lcontract:hover {
  background-color: rgb(52, 76, 174);
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.contact {
  background-color: #8b3636;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.contact:hover {
  background-color: rgb(27, 107, 8);
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.info-section {
  padding: 1rem;
  margin: 1rem;
}

.info-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.info-card {
  border: 1px solid rgb(38, 33, 31);
  border-radius: 5px;
  width: 300px;
  padding: 0.5rem;
  box-shadow:
    #8b3636 0px 4px 6px -1px,
    #8b3636 0px 2px 4px -1px;
}

.info-card-emergency {
  border: 1px solid rgb(38, 33, 31);
  border-radius: 5px;
  background-color: rgb(222, 216, 216);
  width: 300px;
  padding: 0.5rem;
  box-shadow:
    #8b3636 0px 4px 6px -1px,
    #8b3636 0px 2px 4px -1px;
}

a {
  text-decoration: none;
  color: blue;
}

@media (min-width: 768px) {
  .subtitle {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .subadresse {
    font-size: 2rem;
    padding: 1rem;
  }

  .news-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    font-size: 1.2rem;
  }
  .button-container {
    font-size: 1.2rem;
    gap: 2rem;
  }
  .damage,
  .damage:hover,
  .lcontract,
  .lcontract:hover,
  .contact,
  .contact:hover {
    font-size: 1rem;
    padding: 1.2rem;
  }
  .info-card {
    width: 400px;
    padding: 1rem;
    font-size: 1.2rem;
    gap: 2rem;
  }

  .info-card-emergency {
    width: 400px;
    padding: 1rem;
    font-size: 1.2rem;
    gap: 2rem;
  }
}
